<h1> Edit Tweet </h1>

<form action="/tweets/edit" method="POST">
<input type="hidden" name="_method" value="patch">

  <input type="text" name="content" placeholder="Tweet:">
  <%Tweet.all.each do |tweet|%>
  <%=tweet.content%>
  <%end%>



  <input type="submit" value="submit">

</form>
