<h1> Edit Tweet </h1>

<form action="/tweets/#{@tweet.id}" method="POST">
<input type="hidden" name="_method" value="patch">

  <%=@tweet.content%>
  <input type="text" name="content" placeholder="Content:">




  <input type="submit" value="Edit Tweet">

</form>
