<h1> Show Tweets </h1>

<form action="/tweets/<%=@tweet.id%>/delete" method="POST">
  <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Tweet">
    </form>
    
<%=@tweet.content%>


  <input type="submit" value="Edit Tweet">
